<!DOCTYPE html>
<html>
    <body>     
       <form action = "http://localhost:5000/login" method = "post">
           
        <p>Enter Name:</p>
        <p><input type = "text" name = "nm" /></p>
        <p><input type = "submit" value = "submit" /></p>


        <!-- python variables -->
        <p> {{content}}</p>
        <p> {{content2}}</p>

        <!-- python script-->
        {% for x in range(0, 10) %}
            {% if x % 2 == 1 %}
            <p> hello  {{x}} </p>
            {% endif %}
        {% endfor %}

        {% for person in content %}
            <p> {{person}} </p>
        {% endfor %}

       </form>     
    </body>
 </html>